
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<script>

</script>



<body>
{% if query %}
<h1>Posts containing "{{ query }}"</h1>
           <h3>
           {% with results.count as total_results %}
           Found {{ total_results }} result{{ total_results|pluralize }}
           {% endwith %}
           </h3>
   {% for c in results %}
   <a href="{% url 'home' %}"><h3>{{c.title}}</h3></a>


   {% empty %}
   <h4>There are no results for your query.</h4>
   {% endfor %}

{% else %}
    <h2>NO QUERY  ERROR </h2>
{% endif %}
</body>