{% load static %}
 <link rel = "icon" href =  
    "https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/23197467/original/7fe4f022a60d8c54335a09d1ed3ad86b86df63f6/design-an-impressive-logo.jpg" 
            type = "image/x-icon"> 
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--THE VIDEO PLAYER -->
    <title>Watch{{school.title}} Online </title>
  </head>
  <body>
    <h1><a href="{% url 'home' %}">StrangeFlix</a></h1>
    <div class="container">
        <h3 class="text-center mt-2 mb-2">{{school.title}}</h3>
        <video class="embed-responsive embed-responsive-16by9" controls="controls" id = "video1">
          <track kind="captions" srclang="en" default src="{{school.subtitle.url}}" label="English" >
            <source src="{{school.vid.url}}" type="video/mp4" />
           
          </video>
          <a href="{% url 'played' school.pk%}"> Watch Full Movie Here</a>
    </div>
    <div id="like-section"> {% include 'like.html' %} </div>
      <div id="comment-section"> {% include 'comment.html' %} </div>
      <div id="report-section"> {% include 'report.html' %} </div>
     <!----IMPLEMENTATION OF SEEK FEATURE UNDER PROGRESS-->
    <script>
        
        $(document).ready(function(event) {
          $(document).on('click', '#like', function(event) {
              event.preventDefault();
  
  
              var pk = $(this).attr('value');
  
  
              $.ajax({
                  type: 'POST',
                  url: "{% url 'like-post' school.pk %}",
                  data: {
                      'id': pk,
                      'csrfmiddlewaretoken': '{{csrf_token}}'
                  },
                  success: function(response) {
                      $('#like-section').html(response['like'])
                      console.log('Success');
                      // $("#love").addClass("red-text");
                  },
                  error: function(rs, e) {
                      console.log(rs.responseText);
                  }
              });
  
          });
        })
          </script>
          <script>
        $(document).ready(function(event) {
          $(document).on('click', '#report', function(event) {
              event.preventDefault();
  
  
              var pk = $(this).attr('value');
  
  
              $.ajax({
                  type: 'POST',
                  url: "{% url 'report-post' school.pk %}",
                  data: {
                      'id': pk,
                      'csrfmiddlewaretoken': '{{csrf_token}}'
                  },
                  success: function(response) {
                      $('#report-section').html(response['report'])
                      console.log('Success');
                      // $("#love").addClass("red-text");
                  },
                  error: function(rs, e) {
                      console.log(rs.responseText);
                  }
              });
  
          });
        })
    </script>
   <script>
        
        $(document).ready(function(event) {
          $(document).on('click', '#comment', function(event) {
              event.preventDefault();
  
  
              var pk = $(this).attr('value');
  
  
              $.ajax({
                  type: 'POST',
                  url: "{% url 'comment-post' school.pk %}",
                  data: {
                      'id': pk,
                      'csrfmiddlewaretoken': '{{csrf_token}}'
                  },
                  success: function(response) {
                      $('#comment-section').html(response['comment'])
                      console.log('Success');
                      // $("#love").addClass("red-text");
                  },
                  error: function(rs, e) {
                      console.log(rs.responseText);
                  }
              });
  
          });
        })
          </script>
   
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>