{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--THE VIDEO PLAYER -->
    <title>Verify OTP </title>
  </head>
  <body>
    <h2>Please Enter the OTP we just Mailed you!! :)</h2>
    <h3><a>Please check your Spam folder in case you haven't recieved the OTP</a></h3>
    <div class="container">
        <form acion = "otp">
            <input type="number" id="verify" name = "otp">
            <input type="submit" id="submit">
        </form>
    </div>
    